.container {
  display: flex;
  align-items: flex-start;
}

.thumb-pic {
  flex: 0 0 350px;
  margin-right: 20px;
  width: 350px;
  height: 350px;
}

.thumb-pic img {
  width: 100%;
  height: auto;
}

.thumb {
  margin-top: 0;
}


.breed-select.hidden{
  display: none;
}

.breed-select {
  display: block;
}

.cat-info {
  margin-top: 10px;
  flex: 1 1 auto;
}

 .is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}